body {
  padding: 0;
  margin: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.px-2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.pt-1 {
  padding-top: 0.25rem;
}
.pb-1 {
  padding-bottom: 0.25rem;
}
.text-lg {
  font-size: x-large;
}
.font-bold {
  font-weight: 700;
}
/** bottom-leftに配置したコントロールがtop-rightに配置する情報パネルより下側になるように調整 */
.maplibregl-ctrl-top-right {
  z-index: 10;
}
.maplibregl-ctrl-bottom-left {
  z-index: 1;
}
